.root {
    /*-fx-background-color: #8fbc8f;*/
    /*-fx-background-color: #2A802A;*/
    -fx-background-color: white;/*#fafafa;*/
    -fx-highlight-fill: green;
}


.list-cell:selected{
    -fx-background-color: green;
}


.list-view .list-cell:empty{
    -fx-background-color: white;
}


.label {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #052E05;
}


.button {
    -fx-padding: 15px;
    -fx-background-color: green; /*#052E05;*/
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
}

.button:pressed {
    -fx-background-color: #052E05;
}

.password-field {
    -fx-font-size: 24px;
    -fx-background-radius: 8px;
    -fx-spacing: 15px;
    -fx-focus-color: green;
}

.text-field:focused {
}

.advice {
    -fx-font-size: 18px;
    -fx-font-style: italic;
}

.title {
    -fx-font-size: 50px;
}

.user-details .label {
    -fx-font-size: 24px;
}


.error-label{
    -fx-font-style: italic;
    -fx-font-weight: normal;
    -fx-text-fill: red;
}

.summary{
    -fx-font-family: monospaced;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}